<div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-col px-4 py-6">
        <div class="flex flex-col items-center gap-6">
            <div class="bg-center bg-no-repeat aspect-video bg-cover rounded-xl w-full max-w-[360px]"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDx-WiJovYKQ_o03HnB94ggmkURLWU6Q9EpgXV3DFfynhCH6bQJYP4fQ8YDNMYjj1Q22IwusaGoeMNnlSfILJQWeytHuJmUAaLMZkAxQEhvfxD8_3MjmCHR_jeO4-OEv420ZRl5yRmRuXVdsaT60l6g6fYzUSoxLQt5UZL64D5rH2InCxNgvQ5dMBHHGqGIivAJXJyjB4Bh8OvJU09w6i626gp9VhnNV4TnCDNf5-kih_yg87_9lNc5UL4ot6joprQ35Pqho9pTZwV0");'>
            </div>
            <div class="flex max-w-[480px] flex-col items-center gap-2">
                <p class="text-white text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">No
                    Superheroes Found</p>
                <p class="text-white text-sm font-normal leading-normal max-w-[480px] text-center">
                    It seems there are no superheroes currently available. You can add a new superhero to start building
                    your team.
                </p>
            </div>
            <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#2f2f32] text-white text-sm font-bold leading-normal tracking-[0.015em]">
                <span class="truncate">Add New Superhero</span>
            </button>
        </div>
    </div>
</div>