<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
    Biography</h2>
<div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
    <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#2f396a] py-5">
        <p class="text-[#8e99cc] text-sm font-normal leading-normal">Real Name</p>
        <p class="text-white text-sm font-normal leading-normal">{{biography?.nombreReal}}</p>
    </div>
    <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#2f396a] py-5">
        <p class="text-[#8e99cc] text-sm font-normal leading-normal">Occupation</p>
        <p class="text-white text-sm font-normal leading-normal">{{biography?.ocupacion}}</p>
    </div>
    <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#2f396a] py-5">
        <p class="text-[#8e99cc] text-sm font-normal leading-normal">Base of Operations</p>
        <p class="text-white text-sm font-normal leading-normal">{{biography?.baseDeOperaciones}}</p>
    </div>
    <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#2f396a] py-5">
        <p class="text-[#8e99cc] text-sm font-normal leading-normal">Affiliations</p>
        <p class="text-white text-sm font-normal leading-normal">{{biography?.afiliaciones}}</p>
    </div>
</div>
